<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	eh um projeto para ensinar
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	em 1 mes. Esta eh uma app de teste.
</p>


