<% if user_signed_in? %>
#Painel ADM
<% else %>

<div class="hero-unit">

<h1>Bem vindo ao One Month Rails</h1>
<p>
	Voce chegou a esta pagina pelo
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
</p>
<p>
	<%= link_to "Sign Up Right Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>

</div>

<% end %>

