$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);



$btnPrimaryBackground: green;
$navbarBackgroundHighLight: black;
$navbarBackground: orange;


@import 'bootstrap';

body {
	padding-top: 60px;

}


@import 'bootstrap-responsive';

.footer {
	margin-top: 70px;
	color: $grayLight;
	a {
		color: $gray;
	}	
	
}
